@model List<DemoMVC.Models.ProdutoViewModel>
@{
    var grid = new WebGrid(Model);
    var total = Model.Sum(produto => produto.Preco);
    var quantidade = Model.Count();
}

@helper displayNome(DemoMVC.Models.ProdutoViewModel produto)
{
    @Html.DisplayFor(model=> produto.Nome)
}

@helper displayPreco(DemoMVC.Models.ProdutoViewModel produto)
{
    @Html.DisplayFor(model=> produto.Preco)
}

@grid.GetHtml(columns: new []{ 
    grid.Column("Nome", format: d=> displayNome((DemoMVC.Models.ProdutoViewModel)d.Value)),
    grid.Column("Preco", format: d=> displayPreco((DemoMVC.Models.ProdutoViewModel)d.Value)),
    grid.Column(header: "deletar", 
        format: d => Html.ActionLink("Remover", "deletar", new { nome = d.Nome }, 
            new { @class = "remover" }))
})
<p><b>total: </b>@total.ToString("c")</p>
<p><b>quantidade: </b>@quantidade</p>