@inherits HelperPageBase
@using System.Web.Mvc.Html
@helper Textbox(string nome, object valor)
    {
    @Html.TextBox(nome, valor, new { @class = "text-box" })
}
@helper TextBoxBusca(string nomeBusca, string nomeResultado, string action, string controller, string actionParam)
{
    <div class="campos">
        <div class="editor-label">
            @nomeBusca
        </div>
        <div class="editor-field">
            @Html.TextBox(nomeBusca, String.Empty, new {
                    @class = "text-box-curto campo-busca",
                    data_param = actionParam,
                    data_url = Url.Action(action, controller),
                    data_campo = nomeResultado
            })
        </div>
    </div>
    <div class="campos">
        <div class="editor-label">
            @nomeResultado
        </div>
        <div class="editor-field">
            @Html.TextBox(nomeResultado, String.Empty, new { @class = "text-box campo-busca-resultado", disabled="disabled" })
        </div>
    </div>
}
@helper Checkbox(string nome, bool @checked)
{
    <input type="checkbox" name="@nome" @(@checked ? "checked='checked'" : "") />
}